@using Tasks.Infrastructure.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>@ViewBag.Title Task Tunnel</title>

    <link href="https://fonts.googleapis.com/css?family=Copse|Scope+One|Spectral+SC" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Html.ViewStylesheetResource()
</head>
<body>

    <div id="body-grid">

        <header>
            <div class="header-container">
                <div class="header-section-left">
                    <img id="nav-arrow" src="~/Images/SVG/leftArrow.svg" />
                </div>
                <div class="header-section-center">
                    <h1 class="logo">Thought Stream</h1>
                </div>
                <div class="header-section-right">
                    <img id="aside-arrow" src="~/Images/SVG/rightArrow.svg" />
                </div>
            </div>
        </header>
        
        <nav>

            <div class="nav-container">
                <div class="nav-content">
                    @Html.Partial("_Menu")
                </div>
            </div>

        </nav>

        <article>
            <div id="content" class="article-container">
                @RenderBody()
            </div>
        </article>

        <aside>

            <div class="aside-container">
                @{ Html.RenderAction("Aside"); }
            </div>
                
        </aside>
        
        <footer>
            <div class="footer-content">
                <hr id="hr-footer" />
                <p>
                    Developed by Dale Morgan
                </p>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/core")
    @Html.ViewJavascriptResource()
    @RenderSection("scripts", false)
</body>
</html>
