<ul>
    <li>
        <a href=" @Url.Action("Index", "PlanWeek") ">
            <img src="~/Images/SVG/planWeek.svg" />
            <span>Plan Week</span>
        </a>
    </li>
    <li class="active">
        <a href=" @Url.Action("Index", "Thoughts") ">
            <img src="~/Images/SVG/thoughts.svg" />
            <span>Thoughts</span>
        </a>
    </li>
    <li>
        <a href=" @Url.Action("Index", "Tasks") ">
            <img src="~/Images/SVG/tasks.svg" />
            <span>Tasks</span>
        </a>
    </li>
    <li>
        <a href=" @Url.Action("Index", "CalendarEvents") ">
            <img src="~/Images/SVG/calendarEvents.svg" />
            <span>Events</span>
        </a>
    </li>
    <li>
        <a href=" @Url.Action("Index", "Habits") ">
            <img src="~/Images/SVG/habits.svg" />
            <span>Habits</span>
        </a>
    </li>
    <li>
        <a href=" @Url.Action("Index", "Projects") ">
            <img src="~/Images/SVG/projects.svg" />
            <span>Projects</span>
        </a>
    </li>
</ul>