@using Tasks.Service.Projects.Dto
@using Tasks.ViewModels.Projects
@model ProjectsViewModel

@foreach (ProjectDto project in Model.Projects)
{
    <div class="project-container">
                
        <h1> @project.Id - @project.Description </h1>

        <table>
            <tbody>  
            @foreach (ProjectItemDto item in project.Items)
            {
                <tr data-projectid=@item.Id>
                    <td>@item.Id</td>
                    <td>@item.Type</td>
                    <td>@item.Description</td>                                
                </tr>
            }                        
            </tbody>
        </table>

    </div>

 
}