@using Tasks.Service.Projects.Dto
@using Tasks.ViewModels.Projects
@model ProjectsViewModel

@foreach (ProjectWithItemsDto project in Model.Projects)
{
    <div class="card project-container">

        <div class="projectRow" >
            <h3>@project.Description </h3>    
        </div>                
        
        <div>
            <table>
                <tbody class="connectedSortable" data-projectId="@project.Id">  
                
                    <tr class="emptyTablePlaceholder"></tr>

                    @foreach (ProjectItemDto item in project.Items)
                    {
                        <tr data-projectid=@item.Id>
                            <td>@item.Id</td>
                            <td>@item.Type</td>
                            <td>@item.Description</td>                                
                        </tr>
                    }                        
                </tbody>
            </table>
        </div>

    </div>
}