@using System.Web.Mvc.Html
@using Tasks.Models.DomainModels
@model Tasks.ViewModels.Tasks.TaskEditViewModel


<div id="addTaskModal">
    
    <h4 class="modal-title">Add a task</h4>

        @using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new {id = "addTaskForm"}))
        {
            @Html.AntiForgeryToken()
    

        <h3>Description</h3>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", PlaceHolder = "Task description" })

        <h3>Priority</h3>
        @Html.DropDownListFor(model => model.PriorityId, Model.PriorityDropDownItems, new { id = "priority", name = "priority" })

        <h3>Timeframe Window</h3>
        <label for='timeFrame-day'>Day</label>
        @Html.RadioButtonFor(m => m.TimeFrameId, 1, new { id = "timeFrame-day", name = "Window" })
        <label for='timeFrame-week'>Week</label>
        @Html.RadioButtonFor(m => m.TimeFrameId, 2, new { id = "timeFrame-week", name = "Window" })
        <label for='timeFrame-wmonth'>Month</label>
        @Html.RadioButtonFor(m => m.TimeFrameId, 3, new { id = "timeFrame-month", name = "Window" })

        <h3>Timeframe Window</h3>
    
        }
    <button id="btnAddTask" type="submit" value="Create" class="btn btn-default">Add</button>
</div>