@using System.Web.Mvc.Html
@using Tasks.Models.DomainModels
@model Tasks.ViewModels.Tasks.TaskEditViewModel


<div id="addTask">

    <h4 class="modal-title">Add a task</h4>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addTaskForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.TimeFrameId)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Time)
        @Html.HiddenFor(model => model.WeekNumber)
        @Html.HiddenFor(model => model.Month)


        <h3>Description</h3>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", PlaceHolder = "Task description" })

        <h3>Priority</h3>
        @Html.DropDownListFor(model => model.PriorityId, Model.PriorityDropDownItems, "Choose", new { id = "priority", name = "priority" })

        <h3>Due date due</h3>
        <div id="timeframe-tabs">

            <ul>
                <li><a href="#timeframe-open-container">Open</a></li>
                <li><a href="#timeframe-day-container">Day</a></li>
                <li><a href="#timeframe-week-container">Week</a></li>
                <li><a href="#timeframe-month-container">Month</a></li>
            </ul>

            <div id="timeframe-day-container">

                <h3>Due On the date...</h3>

                <div class="form-group">
                    <input id="timeframe-date" placeholder="Choose date" />
                </div>
                <div class="form-group">
                    <p>specify time?</p>
                    @Html.CheckBoxFor(model => model.HasTime)
                </div>
                <div class="form-group">
                    <input id="timeframe-time" placeholder="Choose time" />
                </div>
            </div>

            <div id="timeframe-week-container">
                <h3>Due in the week of...</h3>
                <input id="timeframe-week" placeholder="Choose a week" />
            </div>

            <div id="timeframe-month-container">
                <h3>Due in the month of...</h3>
                <input id="timeframe-month" placeholder="Choose a month" />
            </div>

            <div id="timeframe-open-container">
                <h3>No due date</h3>
            </div>

        </div>
    }

</div>