@model Tasks.ViewModels.Tasks.TaskEditViewModel

<div id="addTaskModal">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a task</h4>

        @using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new {id = "addTaskForm"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">

                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label"})
                @Html.TextBoxFor(model => model.Description, new {@class = "form-control", PlaceHolder = "Task description"})

                <label>Priority</label>
                @Html.TextBoxFor(model => model.PriorityId, new {@class = "form-control"})

                <label>Timeframe Window</label>

                <label>Expected to be done by</label>
                @Html.TextBoxFor(model => model.DateTime, new {@class = "form-control"})
                

            </div>
        }
    <button id="btnAddTask" type="submit" value="Create" class="btn btn-default">Add</button>
</div>