@using Tasks.ViewModels.Tasks
@model TasksViewModel

@{
    ViewBag.Heading = "Tasks";
}

@section urls{
    <script>
        var urlsPubsub = {
            getAddTask: '@Url.Action("GetAsideAddTab", "Tasks")',
            getEditTask: '@Url.Action("GetAsideEditTab", "Tasks")',
            getTasksTable: '@Url.Action("GetTasksTable", "Tasks")',
            saveTask: '@Url.Action("Create", "Tasks")'
            }
    </script>
}

<h1>@ViewBag.Heading</h1>


<div id="taskResultsTable">
    @Html.Partial("_TasksTable", Model)
</div>