@using Tasks.Service.PlanWeek.Dto
@using Tasks.ViewModels.PlanWeek
@model Dictionary<DayOfWeek, ItemListDto> 

<!--Days-->
<div class="heading">
    <h1>In Week Items</h1>    
</div>
<div class="plan">
    @foreach (KeyValuePair<DayOfWeek, ItemListDto> day in Model)
    {
        <div class="day card">
            <h1>@day.Key.ToString()</h1>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                @foreach (ItemDto item in day.Value.ItemDtos)
                {
                    <tr data-taskid="@item.Id">
                        <td> @item.Id </td>
                        <td> @item.Description </td>
                        <td> @item.Type </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
