@using Tasks.Service.Thoughts.Dto
@using Tasks.ViewModels.Thoughts
@model ThoughtsViewModel

<div class="card">
    <table>
        <tbody id="thoughtResultsTableBody">
            @foreach (ThoughtDto thought in Model.ThoughtList.OrderBy(x => x.SortId))
            {
                <tr data-thoughtid ="@thought.Id" data-sortid ="@thought.SortId">
                    <td> @thought.SortId </td>
                    <td >@thought.Description</td>
                    <td>@thought.DateCreated.ToString("ddd dd MMM") </td>
                </tr>
            }
        </tbody>
    </table>
</div>


