@using Tasks.ViewModels.Thoughts
@model ThoughtsViewModel

<div class="card table">
    <table>
        <thead>
            <tr>
                <th><!--Description--></th>
                <th>Due</th>
                <th><!--Options--></th>
            </tr>
        </thead>
        <tbody id="thoughtResultsTableBody">
        @foreach (ThoughtViewModel thought in Model.ThoughtList.OrderBy(x => x.SortId))
        {
            <tr 
                data-thoughtid="@thought.Id"
                data-sortid="@thought.SortId"
                data-timeframeid="@thought.TimeFrameId"
                data-timeframedate="@thought.TimeFrameDateString"
                data-timeframetime="@thought.TimeFrameTimeString">
                
                <td class="left stretch pad-left">@thought.Description</td>
                <td class="center fit">@thought.TimeFrameDueString </td>
                <td class="options pad-right btnDelete"><img src="~/Images/SVG/delete.svg"/></td>
            </tr>
        }
        </tbody>
    </table>
</div>